

.profile-picture {
    width: 50vh;
    border-radius:  map-get($border-radius, rounder);
    align-self: center;
    box-shadow: $shadow
}

.intro-box {
    background-color: map-get($colors, background);
    border-radius: map-get($border-radius, rounder );
    box-shadow: $shadow;

    p {
        color: map-get($colors, dark-v);
    }

}



@media screen and (min-width: 992px) and (max-width: 1257px) {

    .profile-picture {
        align-self: center;
    }
}

