
.profile-picture-about-me {
    width: 30vh;
    border-radius: 30px;
    align-self: center;
    box-shadow: $shadow;

}

.form-label {
    font-family: $font-title;
    font-weight: bold;
    font-size: 1rem;
}

.forms-box {
    margin: 0 0 40vh 0;
}

.input-box {
    
    border: 3px solid blueviolet;
    opacity: .5;
    border-radius: 30px;
}
